*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

#header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

main {
  margin-top: 6rem;
}

#hero {
  display: flex;
  flex-direction: column;
  align-items: center;
}

input {
  display: block;
  margin: 0 auto;
}
